---
import { Icon } from 'astro-icon';

interface Item {
  title?: string;
  description?: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items: Array<Item>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  items = [],
} = Astro.props;
---

<section class="relative">
  <div class="absolute inset-0 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
  <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 -mb-12">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      {
        (title || subtitle || highlight) && (
          <div class="mb-8 md:mx-auto text-center max-w-3xl">
            {highlight && (
              <p
                class="text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase"
                set:html={highlight}
              />
            )}
            {title && (
              <h2
                class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
                set:html={title}
              />
            )}

            {subtitle && (
              <p class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400" set:html={subtitle} />
            )}
          </div>
        )
      }
      <div class={`grid gap-16 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 mt-30 dark:text-white items-stretch`}>
        <!-- {
          items.map(({ title, description, icon }) => (
            <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded-lg shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
              <div class="flex items-center">
                <Icon name={icon} class="w-10 h-10" />
                <div class="ml-4 text-xl font-bold">{title}</div>
              </div>
              {description && <p class="text-muted dark:text-gray-400 text-md mt-4" set:html={description} />}
            </div>
          ))
        } -->
        <!-- box 1 -->
        <!-- <div
          class="relative flex flex-col p-6 bg-white/[0.8] dark:bg-slate-900/[.5] rounded-lg shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800"
        >
          <div class="flex items-center">
            <div class="ml-4 text-xl font-bold">This is the title 1</div>
          </div>
          <p class="text-muted dark:text-gray-400 text-md mt-4">
            This is more textThis is more textThis is more textThis is more textThis is more textThis is more textThis
            is more textThis is more textThis is more textThis is more textThis is more textThis is more textThis is
            more textThis is more textThis is more text
          </p>
        </div> -->
        <div id="stepnumber">1</div>
        <svg viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
          <circle r="245" cx="393" cy="400" fill="#7FDB70" stroke="#41B82E" stroke-width="10"></circle>
        </svg>

        <svg
          id="curvedlines2"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:svgjs="http://svgjs.dev/svgjs"
          viewBox="0 0 800 400"
          ><path
            d="M21.973094940185547,156.05381774902344C26.875934448242187,158.75037770589194,28.63378094991048,161.01644358317057,39.91031265258789,165.91928100585938C51.1868443552653,170.82211842854818,50.4813132985433,173.50074534098306,63.22869873046875,173.99102783203125C75.9760841623942,174.48131032307944,74.53513005574544,171.6352698771159,86.54708862304688,167.71299743652344C98.55904719034831,163.790724995931,93.44693715413412,163.80866221110026,107.17488861083984,159.64125061035156C120.90284006754557,155.47383900960287,121.8176394144694,153.93722127278645,136.77130126953125,152.46636962890625C151.7249631245931,150.99551798502605,150.8520160929362,151.07323944091797,161.88340759277344,154.2600860595703C172.91479909261068,157.44693267822265,166.83408498128256,159.46786631266275,177.1300506591797,164.1255645751953C187.42601633707682,168.78326283772788,187.29447489420573,170.5650197347005,199.55157470703125,171.30044555664062C211.80867451985677,172.03587137858074,208.98057312011719,170.00299346923828,221.9730987548828,166.81614685058594C234.96562438964844,163.6293002319336,233.84753611246745,164.29894887288413,247.085205078125,159.64125061035156C260.3228740437826,154.983552347819,254.22422688802084,152.47234731038412,270.4035949707031,149.77578735351562C286.5829630533854,147.07922739664713,290.34378621419273,146.0986582438151,306.27801513671875,149.77578735351562C322.21224405924477,153.45291646321616,315.95216796875,157.3452921549479,328.6995544433594,163.22869873046875C341.44694091796873,169.1121053059896,339.9222692871094,168.8490247599284,352.914794921875,171.30044555664062C365.9073205566406,173.75186635335285,362.99551167805987,173.66816304524738,376.2331848144531,172.1973114013672C389.4708579508464,170.726459757487,387.3722157796224,169.35127095540363,401.3453063964844,165.91928100585938C415.3183970133463,162.48729105631512,413.38115743001305,163.3183797200521,427.354248046875,159.64125061035156C441.32733866373695,155.96412150065103,438.24813151041667,155.89835540771483,452.46636962890625,152.46636962890625C466.68460774739583,149.03438385009767,464.66367594401044,148.06577423095703,479.3721923828125,147.085205078125C494.08070882161456,146.10463592529297,492.55005533854165,146.67264404296876,506.27801513671875,148.87892150878906C520.0059749348958,151.08519897460937,517.3393273925781,150.9895361328125,529.596435546875,155.15695190429688C541.8535437011719,159.32436767578125,539.1091414388021,159.46786631266275,551.12109375,164.1255645751953C563.1330460611979,168.78326283772788,557.8535127766927,169.25560811360677,573.5426025390625,172.1973114013672C589.2316923014323,175.1390146891276,592.831112874349,175.86846282958984,608.5202026367188,174.8878936767578C624.2092923990886,173.90732452392578,618.4394807942708,173.0224182128906,630.9417114257812,168.60986328125C643.4439420572917,164.1973083496094,642.7383968098958,164.1375241088867,654.2600708007812,158.74440002441406C665.7817447916667,153.35127593994142,659.6113566080729,152.31091145833332,673.0941772460938,148.87892150878906C686.5769978841146,145.4469315592448,688.8789469401041,145.94319590250652,703.5874633789062,146.18833923339844C718.2959798177084,146.43348256429036,714.648731282552,145.363232421875,726.9058227539062,149.77578735351562C739.1629142252605,154.18834228515624,738.8699369303386,154.7324313354492,748.4304809570312,162.3318328857422C757.991024983724,169.93123443603517,758.2062854003906,173.41106018066407,761.8834228515625,177.57847595214844"
            fill="none"
            stroke-width="13"
            stroke='url("#SvgjsLinearGradient1001")'
            stroke-linecap="round"
            stroke-dasharray="1 18"></path><defs
            ><linearGradient id="SvgjsLinearGradient1001"
              ><stop stop-color="hsl(105, 69%, 40%)" offset="0"></stop><stop stop-color="hsl(105, 69%, 60%)" offset="1"
              ></stop></linearGradient
            ></defs
          ></svg
        >

        <svg
          id="curvedlines1"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:svgjs="http://svgjs.dev/svgjs"
          viewBox="0 0 800 400"
          ><path
            d="M21.973094940185547,156.05381774902344C26.875934448242187,158.75037770589194,28.63378094991048,161.01644358317057,39.91031265258789,165.91928100585938C51.1868443552653,170.82211842854818,50.4813132985433,173.50074534098306,63.22869873046875,173.99102783203125C75.9760841623942,174.48131032307944,74.53513005574544,171.6352698771159,86.54708862304688,167.71299743652344C98.55904719034831,163.790724995931,93.44693715413412,163.80866221110026,107.17488861083984,159.64125061035156C120.90284006754557,155.47383900960287,121.8176394144694,153.93722127278645,136.77130126953125,152.46636962890625C151.7249631245931,150.99551798502605,150.8520160929362,151.07323944091797,161.88340759277344,154.2600860595703C172.91479909261068,157.44693267822265,166.83408498128256,159.46786631266275,177.1300506591797,164.1255645751953C187.42601633707682,168.78326283772788,187.29447489420573,170.5650197347005,199.55157470703125,171.30044555664062C211.80867451985677,172.03587137858074,208.98057312011719,170.00299346923828,221.9730987548828,166.81614685058594C234.96562438964844,163.6293002319336,233.84753611246745,164.29894887288413,247.085205078125,159.64125061035156C260.3228740437826,154.983552347819,254.22422688802084,152.47234731038412,270.4035949707031,149.77578735351562C286.5829630533854,147.07922739664713,290.34378621419273,146.0986582438151,306.27801513671875,149.77578735351562C322.21224405924477,153.45291646321616,315.95216796875,157.3452921549479,328.6995544433594,163.22869873046875C341.44694091796873,169.1121053059896,339.9222692871094,168.8490247599284,352.914794921875,171.30044555664062C365.9073205566406,173.75186635335285,362.99551167805987,173.66816304524738,376.2331848144531,172.1973114013672C389.4708579508464,170.726459757487,387.3722157796224,169.35127095540363,401.3453063964844,165.91928100585938C415.3183970133463,162.48729105631512,413.38115743001305,163.3183797200521,427.354248046875,159.64125061035156C441.32733866373695,155.96412150065103,438.24813151041667,155.89835540771483,452.46636962890625,152.46636962890625C466.68460774739583,149.03438385009767,464.66367594401044,148.06577423095703,479.3721923828125,147.085205078125C494.08070882161456,146.10463592529297,492.55005533854165,146.67264404296876,506.27801513671875,148.87892150878906C520.0059749348958,151.08519897460937,517.3393273925781,150.9895361328125,529.596435546875,155.15695190429688C541.8535437011719,159.32436767578125,539.1091414388021,159.46786631266275,551.12109375,164.1255645751953C563.1330460611979,168.78326283772788,557.8535127766927,169.25560811360677,573.5426025390625,172.1973114013672C589.2316923014323,175.1390146891276,592.831112874349,175.86846282958984,608.5202026367188,174.8878936767578C624.2092923990886,173.90732452392578,618.4394807942708,173.0224182128906,630.9417114257812,168.60986328125C643.4439420572917,164.1973083496094,642.7383968098958,164.1375241088867,654.2600708007812,158.74440002441406C665.7817447916667,153.35127593994142,659.6113566080729,152.31091145833332,673.0941772460938,148.87892150878906C686.5769978841146,145.4469315592448,688.8789469401041,145.94319590250652,703.5874633789062,146.18833923339844C718.2959798177084,146.43348256429036,714.648731282552,145.363232421875,726.9058227539062,149.77578735351562C739.1629142252605,154.18834228515624,738.8699369303386,154.7324313354492,748.4304809570312,162.3318328857422C757.991024983724,169.93123443603517,758.2062854003906,173.41106018066407,761.8834228515625,177.57847595214844"
            fill="none"
            stroke-width="13"
            stroke='url("#SvgjsLinearGradient1001")'
            stroke-linecap="round"
            stroke-dasharray="1 18"></path><defs
            ><linearGradient id="SvgjsLinearGradient1001"
              ><stop stop-color="hsl(105, 69%, 40%)" offset="0"></stop><stop stop-color="hsl(105, 69%, 60%)" offset="1"
              ></stop></linearGradient
            ></defs
          ></svg
        >

        <!-- box 2 -->

        <div
          class="relative flex flex-col p-6 bg-white/[1] dark:bg-slate-900/[.5] rounded-lg shadow-lg hover:shadow-md transition border-transparent dark:border-slate-800"
        >
          <div class="flex items-center">
            <div class="ml-4 text-xl font-bold">This is the title 2</div>
          </div>
          <p class="text-muted dark:text-gray-400 text-md mt-4">
            This is more textThis is more textThis is more textThis is more textThis is more textThis is more textThis
            is more textThis is more textThis is more textThis is more textThis is more textThis is more textThis is
            more textThis is more textThis is more text
          </p>
        </div>

        <!-- box 3 -->

        <div
          class="relative flex flex-col p-16 bg-fixed dark:bg-slate-900/[.5] rounded-[30%] transition dark:border-slate-800"
        >
          <div class="flex items-center bg-fixed" id="image-container-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>
